.navbar {
    background-color: red!important;
    text-shadow: 2px 2px 4px black !important;
    
}
.img{
    width: 150px;
    
    
}
.nav-link{
    /* position: relative ;
    left: 300px; */
    color: whitesmoke!important;
    background-color: red;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid whitesmoke;
    border-width: 2px;
    border-radius: 35px;
    margin: 10px;
    text-align: center !important;
    
}
.nav-link:hover{
    /* position: relative;
    left: 300px ; */
    color: whitesmoke!important;
    background-color: pink;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid whitesmoke;
    border-width: 2px;
    border-radius: 35px;
    margin: 10px;
    justify-content: center;
}
.nav-item{
    position: relative !important;
    left: 180px !important;
    justify-content: center !important;
    text-align: center !important;
}
.dropdown-item{  
     font-size: larger;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background-color: red !important;
     text-align: center !important;
     color: white !important;
}
.dropdown-item:hover{  
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: pink!important;
   justify-content: space-between !important;
   color: white !important;
}
.dropdown-menu{
    text-align: center !important;
    margin-left: 15px !important;
    background-color: red !important;
}
.ebm{
    margin-top: 30px;
}
.card{
    width: 250px;
    height: auto !important;
    margin: 10px !important;
    
    
}
.btn-primary{
    text-align: center !important;
    width: 100% !important;
    background-color: red !important;
    
}
.card-text,h4{
    font-weight: bold;
    color: rgb(112, 111, 111);
    text-align: center !important;
}
.english > h1{
    text-align: center;
    margin: 50px;
    color: red;
    text-shadow: 4px 2px 4px black ;
    font-weight: bold;
}
.view{
    font-weight: bold;
    display: flex;
    flex-direction: row;
}
.footer{
    position: relative;
    height: 180px;
    width: 100% !important;
    color: #777;
    background-color: rgb(73, 71, 71);
    text-align: center; 
}
.h5{
    position: relative;
    bottom:3px;
    font-weight: bold;
}
.h5>i{
    
    font-weight: bold;
}
.icon{
    font-size: 50px;
    
}
.icon1{
    font-size: 50px;
    text-align: center;
    margin-right: 150px;
    position: relative;
    top: 73px;

}
.para{
    color: rgb(185, 183, 183);
    font-size: 150%;
    margin: 120px;
}    